Repository kubernetes-csi/external-health-monitor, pull requests merged in 2020-10, with the labels that each got.

#37 Fix the failing multiarch builds
  cmd/csi-external-health-monitor-agent/Dockerfile
  cmd/csi-external-health-monitor-controller/Dockerfile
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, size/XS

#36 feature: send the recovery event when volume returns to the healthy state
  cmd/csi-external-health-monitor-agent/main.go
  cmd/csi-external-health-monitor-controller/main.go
  deploy/kubernetes/external-health-monitor-agent/rbac.yaml
  deploy/kubernetes/external-health-monitor-controller/rbac.yaml
  pkg/agent/agent_test.go
  pkg/agent/framework_test.go
  pkg/agent/pv_monitor_agent.go
  pkg/controller/controller_test.go
  pkg/controller/framework_test.go
  pkg/controller/pv_monitor_controller.go
  pkg/csi-handler/pv_checker.go
  pkg/csi-handler/pv_checker_test.go
  pkg/mock/mock.go
  pkg/util/util.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, size/L

#39 Revert to multiarch distroless base image
  cmd/csi-external-health-monitor-agent/Dockerfile
  cmd/csi-external-health-monitor-controller/Dockerfile
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, size/XS

#38 master: update release-tools
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/S

#41 master: update release-tools
  release-tools/build.make
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/L
